body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}
button{
    cursor: pointer;
}
.scrolled{
    background-color: #000000;
}
header{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 100;
}
header nav{
    width: 100%;
    max-width: 1440px;
    display: flex;
    padding: 22px 0px 22px 0px;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: #FFF;
    top: 0;
    z-index: 10;
}

header nav a{
    color: #FFF;
    text-decoration: none;
    margin-right: 24px;
}
nav a img{
    width: 300px;
}

.hamburger-container {
    position: fixed;
    display: none !important;
    top: 0px;
    right: 0px;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px 16px 16px 0px;
  }
  
  .hamburger {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 30% auto;
    padding: 16px 24px 24px 24px;
    border-radius: 16px;
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  .modal-content strong{
    margin-bottom: 13px;
  }
  .modal-content a{
    text-decoration: none;
    color: #222222;
    margin: 8px 0px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.section-inicio{
    background: url(https://cdn.ticketsports.com.br/ticketagora/site/Circuito-Desbrava-2024/banner-sao-jose.jpg);
    width: 100%;
    max-width: 1440px;
    background-size: cover;
    height: 650px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-inicio{
    width: 100%;
    max-width: 1440px;
    position: absolute;
    height: 650px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 49.54%, rgba(0, 0, 0, 0) 100%);
}
.title-event{
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 1;
    align-items: center;
}
.title-event h1{
    font-size: 56px;
    color: #FFF;
    margin: 16px 0px 16px 0px;
}
.title-event p{
    color: #FFF;
    font-size: 24px;
    margin: 0px 0px 37px 0px;
}
.title-event button{
    width: 240px;
    height: 64px;
    padding: 12px 40px 12px 40px;
    border-radius: 8px;
    color: #FFF;
    border: 2px solid #FFFFFF66;
    background-color: #E30000;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
}
.title-event .desbrava-mobile{
    display: none;
}
.container-accountant{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    position: relative;
}
    .background-countdown{
        position: absolute;
        left: 0;
    }
    .accountant{
        width: 30%;
        text-align: center;
        margin: 80px 0px 83px 0px;
    }
    .accountant h4{
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    margin: 0px 0px 32px 0px;
    }
    .countdown{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    #days, #hours, #minutes, #seconds{
        font-size: 56px;
        font-family: "Montserrat", sans-serif;
        color: #FFF;
        font-weight: 600;
    }
    .countdown-date{
        font-size: 20px;
        font-family: "League Gothic", sans-serif;
        color: #8C9BA5;
        margin: 16px 0px;
        text-transform: uppercase;
        line-height: 40px;
    }
    .container-sobre{
        display: flex;
    }
    .sobre-text{
        width: calc(50% - 128px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0px 64px;
    }
    .info-ritual{
        display: block;
    }
    .info-ritual-mobile{
        display: none;
    }
    .sobre-text h1{
        color: #FFF;
        margin: 0;
        font-size: 48px;
    }
    .sobre-text p{
        color: #FFF;
        margin: 24px 0px 0px 0px;
    }
    .sobre-text a button{
        border:none;
        border-radius: 8px;
        color: #FFF;
        width: 182px;
        padding: 18px 0px;
        font-size: 14px;
        font-weight: 500;
        background-color: #E30000;
        box-shadow: 0px 1px 12px 0px #0000007A;
        font-family: "Rubik", sans-serif;
        margin-top: 32px;
        position: relative;
        z-index: 10;
    }
    .image-sobre{
        margin-bottom: 64px;
        width: 616px;
        height: 616px;
    }
    .image-sobre img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
    .container-programacao{
        background-color: #D5D0C2;
        width: calc(100% - 144px);
        max-width: calc(1440px - 144px);
        padding: 64px 72px;
    }
    .container-programacao h1{
        margin: 0px 0px 24px 0px;
    }
    .container-programacao p{
        margin: 0px 0px 8px 0px;
    }
    .container-percurso{
        background-color: #F3F3F3;
        padding: 64px 72px;
        width: 100%;
        max-width: calc(1440px - 144px);
        display: flex;
        align-items: center;
    }
    .container-percurso .image-mapa{
        width: 50%;
    }
    .image-mapa img{
        width: 100%;
        border-radius: 16px;
    }
    .percurso-info{
        width: 50%;
        padding: 0px 0px 0px 64px;
    }
    .percurso-info h1{
        font-size: 48px;
    }
    .button-percurso{
        display: flex;
        margin-top: 24px;
    }
    .info-kit{
        padding: 0px 62px 0px 0px;
    }
    .mapa5k, .mapa10k{
        width: 80px;
        padding: 8px 0px;
        border-radius: 8px;
        font-size: 32px;
        font-weight: 700;
        background-color: #000000;
        color: #FFF;
        display: flex;
        justify-content: center;
        margin-right: 16px;
        cursor: pointer;
    }
    .button-selected{
        background-color: #E30000;
    }
    .container-kit{
        background-color: #FFF;
        padding: 64px 72px;
        width: 100%;
        max-width: calc(1440px - 144px);
        display: flex;
        align-items: center;
    }
    .kit-1, .kit-2, .kit-3{
        padding: 12px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        background-color: #000000;
        color: #FFF;
        display: flex;
        justify-content: center;
        margin-right: 16px;
        cursor: pointer;
        width: max-content;
    }
    .kit-selected{
        background-color: #E30000;
    }
    .image-kit{
        border: 3px solid #000000;
        box-shadow: 10px 10px 0px 0px #000000;
        border-radius: 16px;

    }
    .container-descontos{
        background-color: #F3F3F3;
        width: calc(100% - 144px);
        max-width: calc(1440px - 144px);
        padding: 64px 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container-descontos h1{
        margin: 0px 0px 40px 0px;
        font-size: 32px;
        width: 50%;
        text-align: center;
        text-transform: uppercase;
    }
    .container-descontos p{
        margin: 4px 0px 8px 0px;
    }
    .descontos{
        display: flex;
    }
    .image-descontos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 250px;
        text-align: center;        
        margin: 0px 32px 0px 32px;
    }
    .logo-desconto-centauro{
        background-color: #E30000;
        width: 80px;
        height: 80px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }
    .logo-desconto-nike{
        background-color: #111111;
        width: 80px;
        height: 80px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }
    .logo-desconto-spoint{
        background-color: #FFD600;
        width: 80px;
        height: 80px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }
    .text-descontos strong{
        font-size: 18px;
    }
    .text-descontos p{
        font-size: 16px;
    }
    .container-etapa{
        width: 100%;
        height: 100%;
        max-height: 353px;
        max-width: calc(1440px - 142px);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        background: url(https://cdn.ticketsports.com.br/ticketagora/site/Circuito-Desbrava-2024/fundo-etapa.svg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: #FFF;        
        padding: 0px 71px;
    }
    .fundo-etapa{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #465A64 28.79%, rgba(70, 90, 100, 0.64) 100%);
    }
    .container-etapa h2{
        margin: 118px 0px 16px 0px;
        position: relative;
        z-index: 1;
        width: 100%;
        text-align: left;
        font-size: 32px;
    }
    .container-etapa p{
        margin: 0px 0px 118px 0px;
        position: relative;
        z-index: 10;
        font-size: 20px;
    }
    .container-regulamento{
        width: 100%;
        max-width: calc(1440px - 142px);
        padding: 56px 71px;
    }
    .regulamento h2{
        background-color: #000000;
        border-radius: 16px 16px 0px 0px;
        color: #FFF;
        padding: 12px 0px 8px 56px;
        font-size: 40px;
        margin: 0px;
    }
    .text-regulamento{
        border-radius: 0px 0px 16px 16px;
        background-color: #F3F3F3;
        max-height: 404px;
        padding: 40px;
        overflow-y: scroll;
    }
    .text-frequentes{
        border-radius: 0px 0px 16px 16px;
        background-color: #F3F3F3;
        padding: 40px;
    }
    .text-regulamento::-webkit-scrollbar {
        width: 11px;
    }

    .text-regulamento::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    .text-regulamento::-webkit-scrollbar-thumb {
        background-color: #000;
        border-radius: 100px;
        border: 1px solid #f1f1f1;
    }
    .text-frequentes details{
        
        border-bottom: 1px solid #D9D9D9;
    }
    .text-frequentes summary{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    summary h3{
        font-size: 24px;
        display: inline-block;
    }
    details[open] .arrow {
        transform: rotate(180deg);
    }
    .faq{
        width: 100%;
        max-width: 1440px;
        padding: 24px 0px;
        background-color: #F3F3F3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .faq a button{
        border:none;
        border-radius: 8px;
        color: #FFF;
        width: 203px;
        padding: 18px 0px;
        font-size: 18px;
        font-weight: 500;
        background-color: #E30000;
        box-shadow: 0px 1px 12px 0px #0000007A;
        font-family: "Rubik", sans-serif;
    }
    footer{
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #111111;
        color: #FFF;
    }
    footer h2{
        font-size: 32px;
        margin: 80px 0px 16px 0px;
    }
    footer p{
        font-size: 16px;
        margin: 0;
    }
    .logo-footer{
        margin: 40px 0px 50px 0px;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 635px;
        justify-content: space-between;
    }
    .ticket img{
        margin-bottom: 26px;
    }
    .ticket{
        padding: 32px 0px 24px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        width: 100%;
        font-size: 14px;
    }
    .ticket p{
        font-size: 14px;
    }
    .ticket a{
        text-decoration: underline;
        color: #FFF;
    
    }
    .site-spoint{
        text-decoration: none;
        color: #000000;
    }
    .link-spoint{
        text-decoration: underline;
    }
@media (max-width: 768px){
    header nav{
        display: none;
    }
    header nav a:first-child{
        margin-left: 24px;
    }
      .hamburger {
        display: block;
    }
    .hamburger-container{
        display: flex !important;
    }
    .title-event{
        padding: 0px 16px;
    }
    .title-event h1{
        font-size: 28px;
        color: #FFF;
        margin: 0px 0px 32px 0px;
    }
    .title-event .desbrava-mobile{
        display: flex;        
        font-size: 28px; 
        max-width: 300px;
    }
    .title-event .desbrava-mobile img{
        width: 100%;
        margin-bottom: 32px;
    }
    .accountant{
        width: 100%;
        margin: 32px 0px;
    }
    .countdown{
        max-width: 350px;
    }
    #days, #hours, #minutes, #seconds {
        font-size: 32px;
        margin: 0;
    }
    .countdown-date{
        font-size: 12px;
        margin: 4px 0px 0px 0px;
        line-height: 14px;
    }
    .background-countdown{
        display: none;
    }
    .container-sobre{
        flex-direction: column-reverse;
        padding: 0px 20px;
    }
    .sobre-text{
        width: calc(100% - 32px);
        padding: 0px 16px 32px 16px;
    }
    .sobre-text h1{
        font-size: 24px;
    }
    .sobre-text p {
        font-size: 16px;
    }
    .container-sobre .image-sobre{
        width: 100%;
        width: 100%;
        max-width: 328px;
        height: 328px;
        display: flex;
        margin: auto auto 64px auto;
    }
    .container-sobre .image-sobre img{
        width: 100%;
        margin: auto;
    }
    .info-ritual{
        display: none;
    }
    .info-ritual-mobile{
        display: flex;
    }
    .container-programacao{
        width: calc(100% - 32px);
        padding: 32px 16px;
    }
    .container-programacao h1{
        font-size: 24px;
    }
    
    .container-percurso{
        width: calc(100% - 32px);
        padding: 32px 16px;
        flex-direction: column-reverse;
    }    
    .container-percurso .image-mapa {
        width: 100%;
        margin-top: 24px;
    }
    .percurso-info{
        width: 100%;
        padding: 0px ;
    }
    .percurso-info h1{
        font-size: 24px;
    }
    .button-percurso{
        flex-direction: column;
    }
    .container-kit{
        flex-wrap: wrap;
        padding: 0;
        width: calc(100% - 32px);
        padding: 32px 16px;
    }
    .container-kit .image-mapa{
        margin-top: 24px;
        width: 100%;
    }
    .button-percurso .kit-2{
        margin: 16px 0px;
    }
    .container-etapa{
        padding: 0px 16px;
        width: calc(100% - 32px);
        background: url(https://cdn.ticketsports.com.br/ticketagora/site/Circuito-Desbrava-2024/fundo-etapa-mobile.svg) no-repeat;
        background-size: cover;
    }
    .container-etapa h2{
        margin: 32px 0px 16px 0px;        
        font-size: 24px;
    }
    .container-etapa p{
        font-weight: 300;
        margin: 0px 0px 32px 0px;
        font-size: 16px;
    }
    .container-descontos{
        width: calc(100% - 32px);
        padding: 32px 16px;
    }
    .container-descontos h1{
        width: 100%;
        font-size: 18px;
    }
    .descontos{
        flex-direction: column;
        width: 100%;
    }
    .container-regulamento{
        padding: 0;
        height: 380px;
    }
    .text-regulamento{
        padding: 16px 0px 16px 16px;
    }
    .text-regulamento p{
        margin: 0;
    }
    .text-regulamento .content{
        height: 285px;
        overflow-y: scroll;
    }
    .text-regulamento .wrapper-regulamento .content::-webkit-scrollbar {
        width: 11px;
    }

    .text-regulamento .wrapper-regulamento .content::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    .text-regulamento .wrapper-regulamento .content::-webkit-scrollbar-thumb {
        background-color: #000;
        border-radius: 100px;
        border: 1px solid #f1f1f1;
    }
    .duvidas{
        height: fit-content;
    }
    .image-descontos{
        display: flex;
        flex-direction: row;  
        margin: 0;  
        max-width: 100%;
    }
    .image-descontos .logo-desconto-centauro, .logo-desconto-nike, .logo-desconto-spoint{
        width: 64px;
        height: 64px;
    }
    .image-descontos img{
        width: 80%;
    }
    .image-descontos .text-descontos{
        margin-left: 16px;
        width: 75%;
        text-align: left;
    }
    .regulamento h2 {
        border-radius: 0;
        padding: 23px 0px 23px 16px;
        font-size: 24px;
    }
    .text-frequentes{
        padding: 16px 16px 10px 16px;
    }
    .spoint{
        width: 70% !important;
    }
    footer p{
        padding: 0px 16px;
    }
    .logo-footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo-footer .nike{
        margin-top: 40px;
        max-width: 173px;
    }
    .logo-footer img{
        width: 80%;
    }
    .ticket{
        width: calc(100% - 32px);
        padding: 16px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .scrolled-mobile{
        background-color: #000000;
    }
}